.checkoutProduct {
  background-color: #eaeded;
  display: flex;
  margin-bottom: 10px;
}
.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 150px;
}
.checkoutProduct__rating {
  display: flex;
  flex-direction: row;
}
.checkoutProduct__button {
  background-color: #f0c14b;
  border: 1px;
  border-color: black;
}
